.row-header{
  margin:0px auto;
  padding:0px auto;
  color: black;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.body{
  background-color: rgb(184, 209, 240);
}
.footer{
  background-color: rgb(184, 187, 189);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.cardMaterial {
  background-color: blanchedalmond;
}
.jumbotron {
  padding:50px 30px 50px 30px;
  margin:0px auto;
  background: rgb(184, 187, 189) ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: rgb(56, 49, 46);
}